<div class="navbar bg-white">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link text-black" href="#">
          <svg class="bi" width="24" height="24" color="black">
            <use xlink:href="bootsrap-icons.svg#envelope" />
          </svg>
        </a></li>
      <li class="nav-item"><a class="nav-link text-blue" href="#">Sign up for updates, insights, resources, and more</a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item"><a class="nav-link text-black" href="#">Follow us</a></li>
      <li class="nav-item"><a class="nav-link text-black" href="#">
          <svg class="bi" width="24" height="24" color="black">
            <use xlink:href="bootsrap-icons.svg#facebook" />
          </svg>
        </a></li>
      <li class="nav-item"><a class="nav-link text-black" href="#">
          <svg class="bi" width="24" height="24" color="black">
            <use xlink:href="bootsrap-icons.svg#twitter" />
          </svg>
        </a></li>
      <li class="nav-item"><a class="nav-link text-black" href="#">
          <svg class="bi" width="24" height="24" color="black">
            <use xlink:href="bootsrap-icons.svg#youtube" />
          </svg>
        </a></li>
      <li>
      </li>
    </ul>
  </div>