<div style = "margin-top: 100px;">
    <h1 class="mx-auto" style="width: 700px;"><font size="+5">Helping K-12 educators make a</font></h1>
</div>
<div>
    <h1 class="mx-auto" style="width: 350px;"><font size="+5">greater impact</font></h1>
</div>
<div style = "margin-top: 50px;">
    <p class="mx-auto" style="width: 850px;">A student’s K-12 experience has a profound impact on their future. Google for Education shareable devices and</p>
</div>
<div>
    <p class="mx-auto" style="width: 850px;">collaborative tools help teachers prepare all students with new, more engaging ways to learn the skills they need to</p>
</div>
<div>
    <p class="mx-auto" style="width: 200px;">succeed.</p>
</div>
<div class = "d-flex justify-content-center"> 
    <button style = "margin-left: -140px;" type="button" class="btn btn-primary">Talk to a specialist</button>
</div>