<div class="navbar bg-white">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link text-black" href="#">For Education</a></li>
      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Why Google
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item text-black" routerLink="/OurCommitment" routerLinkActive = "active">Our Commitment</a></li>
            <li><a class="dropdown-item text-black" routerLink="/ForK12" routerLinkActive = "active">For k-12</a></li>
            <li><a class="dropdown-item text-black" routerLink="/ForHigherEd" routerLinkActive = "active">For Higher Ed</a></li>
            <li><a class="dropdown-item text-black" routerLink="/CaseStudy" routerLinkActive = "active">Case Studies</a></li>
            <li><a class="dropdown-item text-black" href="#">Privacy & Security</a></li>
            <li><a class="dropdown-item text-black" href="#">Accesibility</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Products
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item text-black" href="#">Google Workspace for Education</a></li>
            <li><a class="dropdown-item text-black" href="#">Classroom</a></li>
            <li><a class="dropdown-item text-black" href="#">Google Meet</a></li>
            <li><a class="dropdown-item text-black" href="#">Assignments</a></li>
            <li><a class="dropdown-item text-black" href="#">Chromebooks</a></li>
            <li><a class="dropdown-item text-black" href="#">Google Cloud</a></li>
            <li><a class="dropdown-item text-black" href="#">Jamboard</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Teaching Resources
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item text-black" href="#">Coding & CS</a></li>
            <li><a class="dropdown-item text-black" href="#">Digital Literacy</a></li>
            <li><a class="dropdown-item text-black" href="#">Creativity Tools</a></li>
            <li><a class="dropdown-item text-black" href="#">STEM</a></li>
            <li><a class="dropdown-item text-black" href="#">Language, Arts & Culutre</a></li>
            <li><a class="dropdown-item text-black" href="#">Family Engagement</a></li>
            <li><a class="dropdown-item text-black" href="#">View All Resources</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link text-black" href="#">Code with Google</a></li>
      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            Training & Support
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item text-black" href="#">Partners</a></li>
            <li><a class="dropdown-item text-black" href="#">Setup Guides</a></li>
            <li><a class="dropdown-item text-black" href="#">Training & PD</a></li>
            <li><a class="dropdown-item text-black" href="#">Product Support</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
            aria-expanded="false">
            The Latest
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <li><a class="dropdown-item text-black" href="#">Distance Learning </a></li>
            <li><a class="dropdown-item text-black" href="#">News & Events</a></li>
            <li><a class="dropdown-item text-black" href="#">Research</a></li>
            <li><a class="dropdown-item text-black" href="#">Communities</a></li>
            <li><a class="dropdown-item text-black" href="#">Future of the Classroom</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        Sign in
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a class="dropdown-item" href="#">Google Classroom</a></li>
        <li><a class="dropdown-item" href="#">Google Workspace</a></li>
        <li><a class="dropdown-item" href="#">Google Workspace Admin</a></li>
        <li><a class="dropdown-item" href="#">Google Cloud</a></li>
        <li><a class="dropdown-item" href="#">Assignments</a></li>
      </ul>
    </div>
  </div>