<div style = "margin-top: 100px;">
    <h1 class="mx-auto" style="width: 650px;"><font size="+5">Helping expand learning for</font></h1>
</div>
<div>
    <h1 class="mx-auto" style="width: 200px;"><font size="+5">everyone</font></h1>
</div>
<div style = "margin-top: 50px;">
    <p class="mx-auto" style="width: 850px;">We believe that everyone—educators and learners at every age and stage—deserve the tools and skills that set them</p>
</div>
<div>
    <p class="mx-auto" style="width: 500px;">up for success in building the future they want for themselves.</p>
</div>
<div>
    <img src = "/src/assets/OurCommintmentOne.jpg" class = "center" style="width:60px;height:60px;">
</div>