<div>
    <img src = "./assets/classroom.svg" class = "center" style="width:60px;height:60px;">
</div>
<div>
    <h1 class="mx-auto" style="width: 650px;">Where teaching and learning come</h1>
</div>
<div>
    <h1 class="mx-auto" style="width: 200px;">Together</h1>
</div>
<div>
    <p class="mx-auto" style="width: 850px;">Google Classroom is your all-in-one place for teaching and learning. Our easy-to-use and secure tool helps educators </p>
</div>
<div>
    <p class="mx-auto" style="width: 400px;">manage, measure, and enrich learning experiences. </p>
</div>
<div class = "d-flex justify-content-center"> 
    <button type="button" class="btn btn-primary">Get started for free</button>
    <button type="button" class="btn btn-outline-light"><a class = "text-blue">Go to classroom</a></button>
</div>
<div style = "margin-top: 100px;"> 
    <div class = "row">
        <div class = "col">
        </div>
        <div class = "col">
            <img src = "./assets/all-in-one-place.svg" class = "center" style="width:100px;height:100px;">
            <p class="mx-auto" style="width: 180px;"><font size="+2">all-in-one-place </font></p>
            <p class = "mx-auto center" style = "width: 280px;">Bring all your learning tools together and manage multiple classes in one central destination</p>
        </div>
        <div class = "col">
            <img src = "./assets/easy-to-use.svg" class = "center" style="width:100px;height:100px;">
            <p class="mx-auto" style="width: 130px;"><font size="+2">easy-to-use </font></p>
            <p class = "mx-auto center" style = "width: 280px;">Anyone in your school community can get up and running with Classroom in minutes.</p>
        </div>
        <div class = "col">
            <img src = "./assets/built-for-collaboration.svg" class = "center" style="width:100px;height:100px;">
            <p class="mx-auto" style="width: 230px;"><font size="+2">built-for-collaboration </font></p>
            <p class = "mx-auto center" style = "width: 250px;">Work simultaneously in the same document with the whole class or connect face-to-face with Google Meet.</p>
        </div>
        <div class = "col">
            <img src = "./assets/access-from-anywhere.svg" class = "center" style="width:100px;height:100px;">
            <p class="mx-auto" style="width: 250px;"><font size="+2">access-from-anywhere </font></p>
            <p class = "mx-auto center" style = "width: 270px;">Empower teaching and learning from anywhere, on any device, and give your class more flexibility and mobility.</p>
        </div>
        <div class = "col">
        </div>
    </div>
</div>

<div style = "margin-left: 250px;"> 
    <div class="container-fluid">
        <div class="d-flex flex-row">
            <div *ngFor="let card of MyCards;">
                <card imgpath= {{card.imgpath}} title={{card.title}} text={{card.text}} footer={{card.footer}}>
                    Loading card
                </card>
            </div>
        </div>
    </div>
</div>