<div style = "margin-top: 100px;">
    <h1 class="mx-auto" style="width: 700px;"><font size="+5">Creating new possibilities in</font></h1>
</div>
<div>
    <h1 class="mx-auto" style="width: 450px;"><font size="+5">higher education</font></h1>
</div>
<div style = "margin-top: 50px;">
    <p class="mx-auto" style="width: 850px;">College and university campuses are vibrant, complex ecosystems of learning and discovery across disciplines and</p>
</div>
<div>
    <p class="mx-auto" style="width: 850px;">campuses. See how Google for Education helps you manage the complexity and keep everyone connected and</p>
</div>
<div>
    <p class="mx-auto" style="width: 200px;"> productive.</p>
</div>
<div class = "d-flex justify-content-center"> 
    <button style = "margin-left: -120px;" type="button" class="btn btn-primary">Talk to a specialist</button>
</div>